@using QuanLyKyTucXa.Models
@model DonGia

@{
    ViewBag.Title = "Cập Nhật Đơn Giá";
    Layout = "~/Areas/QLKTX/Views/Shared/_LayoutBQL.cshtml";
}

<div class="page-body">
    <!-- #region Tiêu đề -->
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>
                        Quản Lý Loại Đơn Giá
                    </h4>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/QLKTX/Home/Index">
                                <svg class="stroke-icon">
                                    <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Trang Chủ </li>
                        <li class="breadcrumb-item active">Quản Lý Loại Đơn Giá</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion Tiêu đề -->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Đơn Giá</h4>
                        <p class="f-m-light mt-1">
                            Là các đơn giá thuộc loại Đơn Giá được tính theo giá thực tế sinh sống
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="card-wrapper border rounded-3">
                            @using (Html.BeginForm("CapNhat", "DonGia", FormMethod.Post, new { @class = "row g-3" }))
                            {
                                <input class="form-control" name="MaDonGia" type="hidden" value="@Model.MaDonGia" readonly>
                                <div class="col-md-12">
                                    <label class="form-label" for="DonVi">Đơn Vị <span class="text-danger">*</span></label>
                                    <input class="form-control" name="DonVi" type="text" value="@Model.DonVi">
                                </div>
                                <div class="col-md-12">
                                    <label class="form-label" for="DonGia1">Đơn Giá <span class="text-danger">*</span></label>
                                    <input class="form-control" name="DonGia1" type="text" value="@Model.DonGia1" required>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary" type="submit">Cập Nhật </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>


