@using QuanLyKyTucXa.Models
@model List<Giuong>

@{
    ViewBag.Title = "Danh Sách Giường";
    Layout = "~/Areas/QLKTX/Views/Shared/_LayoutBQL.cshtml";
}

<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>Chi Tiết Phòng</h4>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">
                                <svg class="stroke-icon">
                                    <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Trang Chủ</li>
                        <li class="breadcrumb-item active">Danh Sách Giường</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model)
            {
                var hopDongMoiNhat = item.HopDong.Where(n => n.MaGiuong == item.MaGiuong).OrderByDescending(hd => hd.MaHopDong)
                                      .FirstOrDefault();
                <div class="col-xl-4 col-sm-6 col-xxl-3 col-ed-4 box-col-4">
                    <div class="card social-profile">
                        <div class="card-body">

                            <div class="social-details">
                                <h5 class="mb-1"><a href="#">@item.Phong.Tang.Khu.LoaiKhu.TenLoaiKhu</a></h5>
                                <span class="f-light">@item.TenGiuong</span> <br />

                                @if (hopDongMoiNhat != null)
                                {
                                    <span class="f-light">
                                        <a href="/QLKTX/HopDong/CapNhat?iMaHopDong=@hopDongMoiNhat.MaHopDong">
                                            (@hopDongMoiNhat.SinhVien.MaSinhVien)@hopDongMoiNhat.SinhVien.Ho @hopDongMoiNhat.SinhVien.Ten
                                        </a>
                                    </span>
                                }
                                else
                                {
                                    <span class="f-light">Đang Trống</span>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

