
@{
    ViewBag.Title = "Giới Thiệu";
    Layout = "~/Areas/Student/Views/Shared/_LayoutStudent.cshtml";
}

<div>
    <!-- Inner Banner Start -->
    <div class="at-haslayout at-innerbannerholder">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-12">
                    <div class="at-innerbannercontent">
                        <div class="at-title"><h2>Nội Quy</h2></div>
                        <ol class="at-breadcrumb">
                            <li><a href="~/Student/Home/Index">Trang Chủ</a></li>
                            <li>Nội Quy</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Inner Banner End -->
    <!-- Main Start -->
    <main id="at-main" class="at-main at-haslayout">
        <!-- Two Columns Start -->
        <div class="at-haslayout at-main-section">
            <div class="container">
                <div class="row">
                    <div id="at-twocolumns" class="at-twocolumns at-haslayout">
                        <div id="left-menu-container"></div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                            <div class="at-success-content">
                                <div class="at-title">
                                    <h2><span>Giới Thiệu Ký Túc Xá</span></h2>
                                </div>
                                <div class="at-description">
                                    <p>
                                        <em>
                                            Ký túc xá (KTX) là môi trường sinh hoạt chung dành cho sinh viên, học sinh hoặc người lao động,
                                            nơi mọi người cùng sinh sống, học tập và rèn luyện. Để duy trì nề nếp, trật tự, an toàn và tạo ra
                                            không gian sống lành mạnh, KTX thường áp dụng nội quy cụ thể. Nội quy không chỉ giúp bảo vệ tài sản,
                                            an ninh mà còn thúc đẩy tinh thần trách nhiệm và ý thức cộng đồng cho mỗi cá nhân.
                                        </em>
                                    </p>
                                    <p>
                                        <b>Mục đích của nội quy KTX:</b>
                                    </p>
                                </div>
                                <ul class="at-successinfo">
                                    <li>
                                        1. Đảm bảo an ninh, trật tự: Bảo vệ an toàn cho người và tài sản của cư dân trong KTX.
                                    </li>
                                    <li>
                                        2. Xây dựng nếp sống văn minh: Tạo môi trường sống lành mạnh, văn hóa và tôn trọng lẫn nhau.
                                    </li>
                                    <li>
                                        3. Duy trì vệ sinh, môi trường sạch đẹp: Khuyến khích giữ gìn vệ sinh chung, sử dụng tài nguyên tiết kiệm.
                                    </li>
                                    <li>
                                        4. Tăng cường ý thức trách nhiệm: Giúp sinh viên rèn luyện tính tự giác, tôn trọng nội quy và hỗ trợ lẫn nhau.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Two Columns End -->
    </main>
    <!-- Main End -->
</div>