
@{
    ViewBag.Title = "Liên Hệ Ban QLKTX";
    Layout = "~/Areas/Student/Views/Shared/_LayoutStudent.cshtml";
}

<div>
    <!-- Inner Banner Start -->
    <div class="at-haslayout at-innerbannerholder">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-12">
                    <div class="at-innerbannercontent">
                        <div class="at-title"><h2>Liên Hệ</h2></div>
                        <ol class="at-breadcrumb">
                            <li><a href="~/Student/Home/Index">Trang Chủ</a></li>
                            <li>Liên Hệ Ban Quản Lý Ký Túc Xá</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Inner Banner End -->
    <!-- Main Start -->
    <main id="at-main" class="at-main at-haslayout">
        <!-- Contact Form Start -->
        <section class="at-haslayout at-main-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-12 col-md-12 push-md-0 col-lg-10 push-lg-1 col-xl-8 push-xl-2">
                        <div class="at-sectionhead">
                            <div class="at-sectiontitle">
                                <h2>THÔNG TIN YÊU CẦU LIÊN HỆ</h2>
                                <span>Hỗ Trợ Sinh Viên 24/7</span>
                            </div>
                            <div class="at-description">
                                <p>
                                    Nhập đầy đủ thông tin yêu cầu muốn gửi đến ban quản lý
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 push-md-0 col-lg-12 col-xl-10 push-xl-1">
                        <form class="at-formtheme at-formcontactus">
                            <fieldset>
                                <div class="form-group form-group-half">
                                    <input type="text" name="First Name" class="form-control" placeholder="Họ Tên Sinh Viên" required>
                                </div>
                                <div class="form-group form-group-half">
                                    <input type="text" name="Last Name" class="form-control" placeholder="Phòng Ở Hiện Tại" required>
                                </div>
                                <div class="form-group form-group-half">
                                    <input type="email" name="Your Email" class="form-control" placeholder="Email" required>
                                </div>
                                <div class="form-group form-group-half">
                                    <input type="text" name="Subject" class="form-control" placeholder="Số Điện Thoại" required>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Nội Dung Yêu Cầu" required=""></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="at-btn">Gửi Yêu Cầu</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact Form End -->
    </main>
    <!-- Main End -->
</div>