
@{
    ViewBag.Title = "Nội Quy Ký Túc Xá";
    Layout = "~/Areas/Student/Views/Shared/_LayoutStudent.cshtml";
}

<div>
    <!-- Inner Banner Start -->
    <div class="at-haslayout at-innerbannerholder">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-12">
                    <div class="at-innerbannercontent">
                        <div class="at-title"><h2>Nội Quy</h2></div>
                        <ol class="at-breadcrumb">
                            <li><a href="~/Student/Home/Index">Trang Chủ</a></li>
                            <li>Nội Quy</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Inner Banner End -->
    <!-- Main Start -->
    <main id="at-main" class="at-main at-haslayout">
        <!-- Two Columns Start -->
        <div class="at-haslayout at-main-section">
            <div class="container">
                <div class="row">
                    <div id="at-twocolumns" class="at-twocolumns at-haslayout">
                        <div id="left-menu-container"></div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-8 float-left">
                            <div class="at-howitwork-holder at-haslayout">
                                <div class="at-gridlist-option at-option-mt">
                                    <a href="javascript:void(0);" id="at-btnopenclose" class="at-btnopenclose"><i class="ti-settings"></i></a>
                                </div>
                                <div class="at-howitwork">
                                    <div class="row">
                                        <div class="col-12 col-md-7 col-lg-12 col-xl-7">
                                            <div class="at-howitworkinfo">
                                                <div class="at-howitwork-counter">
                                                    <span>01.</span>
                                                </div>
                                                <div class="at-description">
                                                    <h3>Quy định về giờ giấc</h3>
                                                    <p>
                                                        <b>Giờ ra vào KTX:</b> Thường có quy định giờ mở cửa và đóng cửa (ví dụ: 6h00 - 22h00).<br />
                                                        <b>Giờ tắt đèn và nghỉ ngơi:</b> Yêu cầu tắt đèn, giữ yên lặng vào giờ quy định (ví dụ: sau 23h00).
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-5 col-lg-12 col-xl-5 ">
                                            <figure class="at-howitworkimg"><img src="~/Assets/Student/images/work/img-01.jpg" alt="img description"></figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="at-howitwork">
                                    <div class="row">
                                        <div class="col-12 col-md-7 col-lg-12 col-xl-7">
                                            <div class="at-howitworkinfo">
                                                <div class="at-howitwork-counter">
                                                    <span>02.</span>
                                                </div>
                                                <div class="at-description">
                                                    <h3>Quy định về an ninh, an toàn</h3>
                                                    <p>
                                                        Không mang vũ khí, chất nổ, chất dễ cháy nổ vào KTX. <br />
                                                        Không hút thuốc, sử dụng rượu bia hoặc chất kích thích trong khu vực KTX.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-5 col-lg-12 col-xl-5 ">
                                            <figure class="at-howitworkimg"><img src="~/Assets/Student/images/work/img-02.jpg" alt="img description"></figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="at-howitwork">
                                    <div class="row">
                                        <div class="col-12 col-md-7 col-lg-12 col-xl-7">
                                            <div class="at-howitworkinfo">
                                                <div class="at-howitwork-counter">
                                                    <span>03.</span>
                                                </div>
                                                <div class="at-description">
                                                    <h3>Quy định về sinh hoạt chung</h3>
                                                    <p>
                                                        Giữ trật tự, không gây ồn ào, đặc biệt vào giờ nghỉ ngơi.<br />
                                                        Không tổ chức tụ tập, ăn uống ồn ào trong phòng hoặc hành lang.<br />
                                                        Sử dụng điện, nước tiết kiệm, không tự ý lắp đặt thiết bị điện công suất lớn.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-5 col-lg-12 col-xl-5 ">
                                            <figure class="at-howitworkimg"><img src="~/Assets/Student/images/work/img-03.jpg" alt="img description"></figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="at-howitwork">
                                    <div class="row">
                                        <div class="col-12 col-md-7 col-lg-12 col-xl-7">
                                            <div class="at-howitworkinfo">
                                                <div class="at-howitwork-counter">
                                                    <span>04.</span>
                                                </div>
                                                <div class="at-description">
                                                    <h3>Quy định về chấp hành nội quy</h3>
                                                    <p>
                                                        Chấp hành sự hướng dẫn của ban quản lý KTX.
                                                        Tham gia các buổi họp và hoạt động tập thể do KTX tổ chức.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-5 col-lg-12 col-xl-5 ">
                                            <figure class="at-howitworkimg"><img src="~/Assets/Student/images/work/img-04.jpg" alt="img description"></figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Two Columns End -->
    </main>
    <!-- Main End -->
</div>